<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
<title>Register page</title>


</head>
<body>
    <div class="register-base-container">
        <div class="logo-container">
            <div class="logo-icon">
                <img src="../img/logo_icon.svg" class="icon">
            </div>
            <div class="logo-text">
                <img src="../img/logo.svg">
            </div>
        </div>
        <div class="register-container">
            <form class="register">
                <input name="username" type="text" placeholder="username">
                <input name="email" type="text" placeholder="email@email.com">
                <input name="password" type="password" placeholder="password">
                <input name="password" type="password" placeholder="repeat password">
                <div class="checkbox-inline"><input name="check" type="checkbox"><label for="check" class="check-label">Wyrazam...</label></div>
                <button>Register</button>
            </form>
        </div>
    </div>



</body>