body{
    margin:0;
}


.container{
    width: 100vw;
    height: 100vh;
    background: #505A63;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo-container{
    display: flex;
    flex-direction: column;
    height: 45%;
}

.logo-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height:60%;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 50%;
}
.login-error-message{
    color:red;
    padding-bottom: 1em;
}

.register-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

img.icon{
    width: 45%;
    height: auto;
}

form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 35px;
    width: 70%;
    padding-bottom: 2em;

}

form.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 35px;
    width: 70%

}
.checkbox-inline{
    display: flex;
    flex-direction: row;

}
.check-label{
    margin:1.5em;
}

button {
    background: #505A63;
    border-radius: 6px;
    width:30%;
    border: 1px solid #707070;
    margin: 1.5em;
    line-height: 3em;
    color: #FFFFFF;

}

input {
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #707070;
    padding:1em;
    margin:1.5em;
    width:50%;
}

label{
    color: #3D4750;
    padding:0em;
    margin:0em;

}

.register-base-container{
    width: 100vw;
    height: 100vh;
    background: #505A63;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}




.trainings-header{
    display: flex;
    height: 10vh;
    background: #3D4750;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-logo{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-user-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right:1%;
}

.user-photo{
    height: 9vh;
    width: auto;

    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden;
}

.user-username{
    margin-right: 15px;
    color:white;
}

img.user-profile-img{
    height: 100%;
    width: 100%;

    object-fit: cover;
}

img.header-logo-img{
    transform: scale(80%);

}

.main-container{
    background: #505A63;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-tool-bar{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 15vh;
    align-items: center;
    justify-content: space-between;

}

.search-training-bar{
    display: flex;
    width:75%;
    height: 100%;
    align-items: center;


}

input.search-training-input{
    background-color: #3D4750;
    border: 1px solid gray;
    margin-left: 0;
    width:100%;
    height: 45%;
    color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 13px;
    font-size:25px;
    padding-left: 30px;
}


.add-training-btn{
    display: flex;
    width:25%;
    height: 100%;
    align-items: center;
}

input.add-training-button{
    padding:  0 0;
    background: #3D4750;
    border-radius: 13px;
    border: 1px solid gray;
    width:100%;
    height:45%;
    margin-right: 0;
    color: gray;
    font-size:25px;
    color:white;
}


.trainings-menu-container{
    background: #3D4750;
    border-radius: 15px 15px 0px 0px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 90vw;
    height:6.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.menu-trainings-button{
    background: #505A63;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin:  0 0;
    padding: 0 0;
    width:33.6%;
    color: white;
    font-size:25px;
}

.trainings-main-container{
    background: #3D4750;
    border-radius: 0px 0px 15px 15px ;
    width: 90vw;
    height:65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 3px;
    margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-device-width: 420px) {

    .register-base-container{
        flex-direction: column;
    }

    .logo-container{
        height: 35%;
    }

    .login-container{
        width: 100%;
        margin: 1em;
    }

    .register-container{
        width: 100%;
        margin: 1em;
    }

    form.login {
        height: 45vh;
    }

    form.register{
        width:90%;
    }


    input {
        padding:1em;
        margin:1em;
        width:70%;
    }

    button{
        width: 50%;
        margin:1em;
    }

    label{
        margin:0em;
    
    }
    
    * {
        font-size: 36px;
    }
}

@media only screen and (min-device-width: 421px) and (max-device-width: 1000px) {

    .register-base-container{
        flex-direction: column;
    }

    .logo-container{
        height: 35%;
    }

    .login-container{
        width: 80%;
        margin: 1em;
    }

    .register-container{
        width: 80%;
        margin: 1em;
    }

    form.login {
        height: 40vh;
    }
    
    form.register{
        width:80%;
    }

    input {
        padding:1em;
        margin:1em;
        width:70%;
    }

    button{
        width: 50%;
        margin:1em;
    }

    label{
        margin:0em;
    
    }
    
    * {
        font-size: 25px;
    }
    
}

@media only screen and (max-device-height: 800px) and (min-device-width: 800px ) {

    form.register{
        height:90vh;
    }

    .container{
        flex-direction: row;
    }

    .logo-container{
        width: 50%;
        align-items:  center;
    }

    .logo-container.img{
        width: 50%;
    }

    img.icon{
        width: 85%;
        height: auto;
    }

    .login-container{
        width: 50%;
    }

    .register-container{
        width: 50%;
    }

    form.login {
        height: 55vh;
    }

    button{
        width: 60%;
        margin:1em;
    }

    label{
        margin:0em;
    
    }

}